/**
* Accordeon
*/


details {
    display: inline-block;
    overflow: hidden;
    max-width: 300px;
    transition: max-width 1s ease;
    position: relative;

}

details[open] {
    max-width: 300px;
    margin-right: 1rem;
    vertical-align: top;
}

summary {
    list-style: none;
    cursor: pointer;
    display: flex;
    align-items: center;
}